.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.centered-form__box h1 {
    margin-bottom: 16px;
}

.centered-form__box label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

.centered-form__box input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

.centered-form__box button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    margin-bottom: 8px;
}

.centered-form__box button:hover {
    background: #6b47b8;
}

.centered-form__box button:disabled {
    cursor: default;
    background: #7c5cbf94;
}